@import url(https://fonts.googleapis.com/css?family=Lora:regular,500,600,700,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

:root {
	--pink: #D88B9B;
	--red: #B22222;
	--yellow: #f4d040;
	--green: #57d68d;
	--blue: #6495ED;
	--black: #111111;

	--gray: #52525b;  
	--graydark: #3f3f46; /* Text */
	--white: #f3f8f8;
	--blush: #f1d0c1;
	--coral: #e7a690fb; 
	--butterscotch: #efbb67;
	--smoke:#a9b6bc;
	--darkegg: #c2d5cf;
	--emeralosea: #5c9a97;
}

/* CSS Reset */
html {
	box-sizing: border-box;
	font-size: 16px;
	font-family: lora, sans-serif;
	color: var(--black);
	scroll-behavior: smooth;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}


h1 {
	font-size: 30px;
	font-style: italic;
}

body,h2,h3,h4,h5,h6,

p,
ol,
ul {
	margin: 0;
	padding: 0;
}
ol,
ul {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

/* Global styles */
label, input, textarea, select {
	display: block;
	width: 100%;
}
input, select, textarea {
	padding: 8px;
}


/* id="mob-header" */
.mob-header-set{
	height:  100%;
	width: 100%; 
	background-image: url(bg-mob-header-blurr.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position-y: 60%;
}

.mob-header-h1 {
	color: var(--graydark);
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top:80px;
	text-align: right;
	margin-right: 5px;
}
.mob-header-h4 {
	color: var(--graydark);
	font-size: 15px;
	margin-top: 0px;
	padding-top:6px;
	text-align: right;
	margin-right: 5px;
}

/* id="Mob-hero"   */
.mob-hero-set {
	height:  100%;
	background-color: rgb(244, 242, 242);
	border: 2px solid red;
}

.mob-hero-bg {
	height: 30%;
	margin: 0px;
	margin-left: 24px;
	margin-right: 24px;
	margin-bottom: 24px;
	background-color:var(--coral);
	border: 2px solid blue;


}

.mob-hero-h2 {
	color: var(--graydark);
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: px;
}
.mob-hero-h3 {
	color: var(--graydark);
	font-size: 15px;
	margin-left: 24px;
	margin-top: 0px;
}

@media (max-width: 768px) {	
	.hamburger-button {
		height: 28px; width: 28px;
		position: absolute;
		background-color: var(--coral);
		bottom: 0px;
		right: 0px;
		/* border-color: none; ??*/
	}
	


	.mob-hero-p-bg {
		Position: absolute;
		width: 80%;
		height: 100px;
		top: 20px;
		left: 40px;
		color: white;
		font-size: 13px;
	}
	

	.mob-hero-h3-style {
		background-color: var(--coral);
		color: white;
	}
	
	.mob-hero-img {
		position: absolute;
		height:  10vh;
		/* border: 1px solid whitesmoke; */
		width: 15%;
		/* height: 10vh; */
		top: 15%;
		left: 80.5%;
		right: 12.5%;
		z-index: 1;
	}
	.desktop-list {display: none;};
	}

@media (min-width: 768px) {
	.mob-hero {
		position: relative;
		background-image: url(bg-hero.png); */
		/* width: 80%;
		height: 55%;
		top: 30%;
		left: 12.5%;
		right: 12.5%;
		background-color:var(--coral); */
		/* min-width: 400px; ?? Shall this apply so the text not overflow? */
	}
	.mob-hero-p-bg {
		Position: relative;
		width: 80%;
		height: 100px;
		top: 20px;
		left: 40px;
		color: white;
		font-size: 13px;
	}
	
	.mob-hero-h2 {
		Position: relative;
		color: var(--graydark);
		font-size: 20px;
		top: 45px;
		left: 10px;
	}
	.mob-hero-h3 {
		Position: relative;
		color: var(--graydark);
		font-size: 15px;
		top: 20px;
		left: 10px;
	}
	.mob-hero-h3-style {
		background-color: var(--coral);
		color: white;
	}
	

}
.mob-hero-img {
	position: relative;
	height:  10vh;
	/* border: 1px solid whitesmoke; */
	width: 15%;
	/* height: 10vh; */
	top: 15%;
	left: 80.5%;
	right: 12.5%;
	z-index: 1;
}


@media (min-width: 768px) {	
	.desktop-list {
		display: flex;
		justify-content: flex-end;
		flex-direction: row;
		padding-block: 10px;
		gap: 20px;
		font-size: 12px;
		font-family: lora sans-serif;
		list-style: circle;
		list-style: georgian;
		/* ?? how to change color */
	}
	}

/* id="mobile-prj" */
/* @media (max-width: 768px) {	 */
.mob-prj-set {
	position: relative;
	height:  35vh;
	width: 100%;
}
.mob-prj-bg {
	position: absolute;
	width: 80%;
	height: 80%;
	left: 20%;
	Top: 0;
	background-image: url(bg-prj-full.png) ;
	background-repeat: no repeat;
	background-size: cover;
	}
.mob-prj-h3-bg {
	position: absolute;
	width: 20%;
	height: 80%;
	Top: 0px;
	left: 0px;
	background-image: url(mob-prj-h3-blurr.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position-x: 60%;

}
.mob-prj-h3{
	/* Position: absolute; */
	color: var(--graydark);
	font-size: 20px;
	top: 5px;
	left: 10px;
}
.mob-prj-p1 {
	/* Position: absolute; */
	top: 57%;
	z-index: 1;
	font: message-box;
	left: 55px;
	}
.mob-prj-a1-hotspot {  
	/* Position: absolute; */
	Top: 65%;
	left: 80px;
	z-index: 2;
	color: black;
	font-size: 12px;
	line-height: 8px;
	max-width: 256px;
	border: 2px solid red;
	/* ?? font: italic; */
}
/*.mob-prj-p1a {
	 ?? top: 60%; */
.mob-prj-p2 {
	/* Position: absolute; */
	top: 15%;
	z-index: 1;
	font: message-box;
	left: 200px;
	}
.mob-prj-a2-hotspot {  
	/* Position: absolute; */
	Top: 23%;
	left: 226px;
	z-index: 2;
	color: black;
	font-size: 12px;
	line-height: 8px;
	max-width: 256px;
	border: 2px solid red;
		/* ?? font: italic; */
	}
	/*.mob-prj-p2a {
		 ?? top: 60%; */

.mob-prj-p3 {
	/* Position: absolute; */
	top: 66%;
	z-index: 1;
	font: message-box;
	left: 282px;

	}
.mob-prj-a3-hotspot {  
	/* Position: absolute; */
	Top: 182px;
	left: 320px;
	z-index: 2;
	color: black;
	font-size: 12px;
	line-height: 8px;
	max-width: 256px;
	border: 2px solid red;
		/* ?? font: italic; */
	}
		/*.mob-prj-p3a {
			 ?? top: 60%; */
/* } */

/* @media (min-width: 768px) {	
	.mob-prj-set {display: none;}
	.mob-prj-bg {display: none;}
	.mob-prj-h3-bg {display: none;}
	.mob-prj-h3 {display: none;}
	.mob-prj-p1 {display: none;}
	.mob-prj-a1-hotspot {display: none;}
	.mob-prj-p2 {display: none;}
	.mob-prj-a2-hotspot {display: none;}
	.mob-prj-p3 {display: none;}
	.mob-prj-a3-hotspot {display: none;}
}	 */
/* id="Mobile-contact" */

@media (max-width: 768px) {	
	.mob-contact-set {
		height:  55vh;
		width: 100%;
		/* background-color: rgb(244, 242, 242); */
		background-image: url(bg-mob-contact-blurr.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position-x: 35%;
		display: flex;
		flex-direction: column;
	}
	form {  
		width:80%;
		max-width: 600px;
		display: flex;
		justify-items: center;
		flex-direction: column;
		align-items: center;
	}
	
	.mob-form-group-input {
		Margin-bottom: 0px;
		position: relative;
	}
	
	Input, textarea{ 
		width: 100%;
		/* padding: 10px; */
		outline: 0;
		border: 1px solid white;
		color: white;
		background: transparent;
		font-size:11px;
	}
	
	label{
		/* position: absolute; */
		Cursor: text;
		color: white;
		font-size: medium;
		top: 0;
		left: 0;
		/* transition: 0.2s */
		/* ?? padding: 0, 5px; */
	}
		
	.mob-contact-button {
		/* padding: 10px, 0; */
		/* color: white; */
		
		outline: none;
		background: white;
		border: 1px solid white;
		width: 100%;
		cursor: pointer;
		}
}




/* input:focus~label,
	input:valid~label{  
		top: -35px;
		font-size: small;
	textarea:focus~label,
	textarea:valid~label{
		top:-35px;
		font-size:small;
	}
} ?? Enhancement*/


@media (min-width: 768px) {	
	.mob-contact-set {display: none;};
	.mobile-input-group {display: none;};

}
/* Footer */

footer {
	padding: 16px;
	text-align: center;
}

/* id=set */
@media (min-width: 768px) {	
	.set-desktop-header{
		position: relative;
		height:  35vh;
		background-image: url(bg-mob-header-blurr.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position-y: 50%;
	}
	.bg-desktop-header{
		position: absolute;
		height:  35vh;
		top: 0px;
		left: 0px;
		background-image: url(bg-mob-header-blurr.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position-y: 50%;
	}
}
	.h1-desktop-header {
		Position: absolute;
		color: var(--graydark);
		font-family: lora, sans-serif;
		font-size: 30px;
		font-style: italic;
		top: 150px;
		right: 10px;
	}
	.h4-desktop-header {
		Position: absolute;
		color: var(--graydark);
		font-family: lora, sans-serif;
		font-size: 20px;
		top: 200px;
		right: 10px;
		/* justify-content: center; */
		/* align-items: center; */
	}

@media (max-width: 768px) {	
		.set-desktop-header {display: none;}
		.bg-desktop-header {display: none;}
		.h1-desktop-header {display: none;}
		.h4-desktop-header {display: none;}
}


/* Utilities */

